body {
  display: block;
  margin: 8px;
}

#root {
  margin: 0;
  padding: 0 0 8%;
  border-radius: 4px;
  box-shadow: 0 0 60px 0 rgb(0 0 0 / 5%);
  background-color: #fafafa;
}

.nav-bar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

.nav-brand {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #0290ff;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  grid-gap: 40px;
  gap: 40px;
}

.active-link {
  opacity: 1;
  color: #121212;
}

.nav-link {
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
}

a {
  text-decoration: none;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

.container {
  padding: 4%;
}

.books {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  grid-gap: 0.938rem;
  gap: 0.938rem;
}

.book {
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  padding: 2rem;
}

.book-content {
  display: flex;
  justify-content: space-between;
}

.book-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.book-category,
.book-title {
  font-weight: 700;
  color: #121212;
}

.book-title {
  margin-top: 0.188rem;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.book-author,
.book-title {
  font-family: 'Roboto Slab', serif;
}

.book-author {
  font-size: 0.875rem;
  font-weight: 300;
  color: #4386bf;
}

.book-category {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}

.action-buttons {
  display: flex;
  align-items: center;
  margin-top: 1.313rem;
}

.button-outline {
  font-family: 'Roboto Slab', serif;
  background-color: transparent;
  border: none;
  color: #4386bf;
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.vertical-divider {
  width: 0.125rem;
  height: 1.5rem;
  background-color: #e8e8e8;
  margin: 0 1rem;
}

.progress-container {
  display: flex;
  align-items: center;
}

.circular-progress-container {
  width: 5.625rem;
  height: 5.625rem;
  padding: 0.63rem 0.625rem 0.75rem 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circular-progress {
  position: absolute;
  border-radius: 50%;
  width: 4.25rem;
  height: 4.25rem;
  border: 5px solid #307bbe;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.completed,
.percent-complete {
  font-family: 'Montserrat', sans-serif;
  color: #121212;
}

.percent-complete {
  font-size: 2rem;
}

.completed {
  font-size: 0.875rem;
  opacity: 0.5;
}

.progress-divider {
  width: 0.125rem;
  height: 4.375rem;
  margin: 0 3.688rem 0 4.938rem;
  background-color: #e8e8e8;
}

.current-chapter-container {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  gap: 20px;
  width: 14rem;
}

.current-chapter,
.current-chapter-label {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #121212;
}

.current-chapter-label {
  font-size: 0.813rem;
  opacity: 0.5;
}

.current-chapter {
  margin-top: 0.438rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.primary-button {
  cursor: pointer;
  border: none;
  background-color: #0290ff;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

.horizontal-divider {
  height: 0.125rem;
  background-color: #e8e8e8;
  width: 100%;
  margin: 2.5rem 0 1.813rem;
}

.form-title,
.input {
  font-family: 'Montserrat', sans-serif;
}

.form-title {
  font-size: 1.25rem;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

.add-form {
  margin-top: 20px;
  display: flex;
  grid-gap: 32px;
  gap: 32px;
}

.title-input {
  width: 50%;
}

.input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #121212;
}

.category-input {
  width: 30%;
}

.primary-button-big {
  cursor: pointer;
  width: 20%;
  padding: 12px;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  letter-spacing: 0.5px;
  color: #fff;
  font-size: 0.813rem;
  font-weight: 700;
  font-family: 'Roboto Slab', serif;
}
